/* Style for the picture image */
.picture-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  visibility: visible;
}

/* Style for the picture description */
.picture-description {
  margin-top: 10px;
  font-size: 14px;
  color: #F97300;
}
